export OM_TARGET=
export OM_CLIENT_ID=
export OM_CLIENT_SECRET=
export OM_SKIP_SSL_VALIDATION=true

export OM_KEY=/Users/user/Documents/secrets/om.key

export PKS_API_ENDPOINT=api.TLD
export PKS_API_ADMIN_USERNAME=admin
export RELEASE=prometheus-operator
export CLUSTER_NAME=cluster-02
export NAMESPACE=monitoring
export USE_ISTIO=true
